parameters:
    level: max
    paths:
        - src
    excludePaths:
        - tests

    phpVersion: 80000
    checkUninitializedProperties: true
    checkImplicitMixed: true
    checkBenevolentUnionTypes: true

    exceptions:
        implicitThrows: false
        check:
            missingCheckedExceptionInThrows: true
            tooWideThrowType: true
        uncheckedExceptionClasses:
            - LogicException
            - RuntimeException
            - Error

    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: true
