parameters:
    level: max
    paths:
        - src
    excludePaths:
        - tests

    phpVersion: 80000
    checkUninitializedProperties: true
    checkImplicitMixed: true
    checkBenevolentUnionTypes: true

    ignoreErrors:
        -
            identifier: customRules.overrideMustHaveAttribute
            path: src/Exception/ValidationException.php

    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: true
