<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="bootstrap.php">
    <testsuites>
        <testsuite name="Example">
            <file>BasicTest.php</file>
        </testsuite>
    </testsuites>
    <php>
        <env name="OAS_FAKE_MODE" value="fake"/>
        <ini name="error_reporting" value="22527"/>
    </php>
</phpunit>
